# Remember Basic Data Types

In [5]:
a=1
print(type(a))
b=2.5
print(type(b))
c="hello"
print(type(c))
d='bye'
print(type(d))
e= complex(1,2)
print(type(e))
f = complex(5+2j)
print(type(f))
g= True
print(type(g))
h=(5<2)
print(type(h))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'complex'>
<class 'complex'>
<class 'bool'>
<class 'bool'>

##  Tip for working with large numbers: Use Underscores to Format Large Numbers

When working with a large number in Python, it can be difficult to figure out how many digits that number has. Python 3.6 and above allows you to use underscores as visual separators to group digits.

In the example below, underscores are used to group decimal numbers by thousands.

In [4]:
my_large_num = 1_000_000
my_large_num # Returns 1000000

1000000

# 5 Working with strings

**String** literals contain pieces of text. Both `"` and `'` delimiters may be used, and special characters require *escaping*.  
Python has great support for strings. For example in further sections we will see that we can iterate/loop through a String.

## 5.1 Creating them

In [13]:
a="This is an example of a String variable"
b='This is another string variable'

#Strings may span several lines if quoted between `"""` or `'''`.

poem = """¿Qué es poesía?, dices mientras clavas
en mi pupila tu pupila azul.
¿Qué es poesía? ¿Y tú me lo preguntas?
Poesía... eres tú.
-- Gustavo Adolfo Bécquer """

d = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''

print(a)
print("\n")
print(b)
print("\n")
print(poem)
print("\n")
print(d)

This is an example of a String variable


This is another string variable


¿Qué es poesía?, dices mientras clavas
en mi pupila tu pupila azul.
¿Qué es poesía? ¿Y tú me lo preguntas?
Poesía... eres tú.
-- Gustavo Adolfo Bécquer


Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## 5.2 Escaping character in python
To insert characters that are illegal in a string, use an escape character.An escape character is a backslash \ followed by the character you want to insert.    
An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [10]:
#Returns an error:
txt = "I love "Python" programming language."
print(txt)

SyntaxError: invalid syntax (<ipython-input-10-2048e9e27fca>, line 2)

In [11]:
#Correct:
txt = "I love \"Python\" programming language."
print(txt)

I love "Python" programming language.

For more information: <https://www.w3schools.com/python/gloss_python_escape_characters.asp>

## 5.3 Strings are arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

In [14]:
#We can index them:
a="This is an example of a String variable"
print("First character: ",a[0])
print("Last character: ",a[38])
print("But also this: ",a[-1])

First character:  T
Last character:  e
But also this:  e

In [16]:
# We can use length function (len):
print(len(a))
print("Last character: ",a[len(a) -1]) #remember that fist position is 0

39
Last character:  e

## 5.4 We can slice them

In [38]:
a="01/01/2019 18:45:00 MSG: Reboot of main controller SEVERITY: Heavy ACTION: Shutdown"
timestamp=a[:19]
timestamp2=a[0:19] #0 is not required
msg=a[25:50]
severity=a[61:66]
action=a[75:]
print(timestamp)
print(timestamp2)
print(msg)
print(severity)
print(action)

01/01/2019 18:45:00
01/01/2019 18:45:00
Reboot of main controller
Heavy
Shutdown

In [39]:
# Use negative indexes to start the slice from the end of the string
test=a[-3:len(a)]
print(test)

own

In [40]:
test2=a[-3:-1]
print(test2)

ow

In [28]:
test3=a[-1:-7]
print(test3)

## 5.5 But they are not mutable

In [29]:
a="Short String"
a[7]="T"
print(a)

TypeError: 'str' object does not support item assignment

In [30]:
a="Short String"
print(a)
a="Short STring"
print(a)

Short String
Short STring

In [33]:
a="Short String"
print(a)

b=a[:7]+"T"+ a[8:len(a)]
print(b)

Short String
Short STring

## 5.7 We use addition operator to concatenate

In [11]:
a="This is the begining of the sentence"
b="and this is the end of the sentence"
print(a+" "+b)

This is the begining of the sentence and this is the end of the sentence

## 5.8 We can compare them

In [34]:
a="watermelon"
b="waterloo"
c="waterworld"
print("watermelon larger than waterloo:",a>b)
print("watermelon smaller than waterworld:",a<c)

watermelon larger than waterloo: True
watermelon smaller than waterworld: True

## 5.9 We can search and check inside the strings

In [35]:
log="01/01/2019 18:45:00 MSG: Reboot of main controller SEVERITY: Heavy ACTION: Shutdown"
start=log.find("MSG")
end=log.find("SEVERITY")
print(start)
print(end)
print(log[start:end])

20
51
MSG: Reboot of main controller

In [23]:
sentence= "It is a very nice place"
sentence.find("day")

-1

In [24]:
sentence.find("nice")

13

In [25]:
# To check if a certain phrase or character is present in a string, we can use the keyword in. We can also use not in.

txt = "The best things in life are free!"
print("free" in txt)
print("huge" in txt)

print("free" not in txt)
print("huge" not in txt)

True
False
False
True

## 5.10 Python string methods:
Python has a set of built-in methods that you can use on strings.    
Check for additional info:   
    <https://www.w3schools.com/python/python_ref_string.asp>     
    <https://docs.python.org/3.5/library/stdtypes.html#string-methods>

In [42]:
log="01/01/2019 18:45:00 MSG: Reboot of main controller SEVERITY: Heavy ACTION: Shutdown"

print(log)
print(log.upper())
print(log.lower())

01/01/2019 18:45:00 MSG: Reboot of main controller SEVERITY: Heavy ACTION: Shutdown
01/01/2019 18:45:00 MSG: REBOOT OF MAIN CONTROLLER SEVERITY: HEAVY ACTION: SHUTDOWN
01/01/2019 18:45:00 msg: reboot of main controller severity: heavy action: shutdown

In [43]:
key=log[20:23]
print(key)
print("Upper: ",key.isupper())
print("Is alphanumeric: ",key.isalnum())
print("Is numeric: ",key.isdigit())
print("Is alphabetic: ",key.isalpha())
print("Is space: ",key.isspace())

MSG
Upper:  True
Is alphanumeric:  True
Is numeric:  False
Is alphabetic:  True
Is space:  False

In [ ]:
#we will check again in the list chapter
line="Agueda|25|Madrid|Student|Single|A"
elements=line.split("|")
print(elements)
name=elements[0]
age=elements[1]
city=elements[2]
job=elements[3]
martial=elements[4]
driving=elements[5]
print("{0} {1} years old lives in {2} as {3} with driving licence {4}".format(name,age,city,job,driving))

In [44]:
list1=["Madrid","Berlin","London","Paris","Rome"]
print(type(list1))
print(",".join(list1))
print(" - ".join(list1))
print(" * ".join(list1))

<class 'list'>
Madrid,Berlin,London,Paris,Rome
Madrid - Berlin - London - Paris - Rome
Madrid * Berlin * London * Paris * Rome

## 5.11 Formatting a string

Python has several different ways of formatting strings. Simple positional formatting is probably the most common use-case. Use it if the order of your arguments is not likely to change and you only have very few elements you want to concatenate. Since the elements are not represented by something as descriptive as a name this simple style should only be used to format a relatively small number of elements

<https://docs.python.org/3/library/string.html#string-formatting>

In [45]:
# As we learned in the Python Variables chapter, we CANNOT combine strings and numbers like this
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [46]:
#It is true that we can use str buit-in python function

txt = "My name is John, I am " + str(age)
print(txt)

My name is John, I am 36

### 5.11.1 Old Style/pre-Python 2.6
The old style uses '' % <tuple> as follows

In [49]:
'%s %s' % ('one', 'two') # Returns 'one two'

'one two'

In [50]:
'%d %d' % (1, 2)         # Returns '1 2'

'1 2'

In [51]:
name=  "Carlos"
brothers=3

print("My name is %s and I have %d brothers and %d sister" %(name, brothers,1))

My name is Carlos and I have 3 brothers and 1 sister

### 5.11.2 New Style/Python 2.6
The new style uses ''.format() as follows

    

![Image](ImagesNotebook1/format.JPG)

In [52]:
'{} {}'.format('one', 'two') # Returns 'one two'

'one two'

In [53]:
'{} {}'.format(1, 2)         # Returns '1 2'

'1 2'

In [54]:
print("My name is {} and I have {} brothers and {} sister".format(name, brothers,1))

My name is Carlos and I have 3 brothers and 1 sister

In [56]:
#We can change the order of the variables. The first one is the 0
print("My name is {1} and I have {2} brothers and {0} sister".format(1,name, brothers))

My name is Carlos and I have 3 brothers and 1 sister

You can also use keyword arguments instead of positional parameters to produce the same result. This is called keyword arguments.

In [3]:
print("I have {quantity} {item}".format(quantity=2, item='cars'))

I have 2 cars

In [4]:
#Alternative
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

### 5.11.3 F-strings
Starting Python 3.6, you can also format strings using f-string literals

In [6]:
name = "Carlos"
f"He said his name is {name}."

'He said his name is Carlos.'

In [7]:
# You can basically put any Python statement inside the braces and it will be output in the string.
f"{name} is {len(name)} characters long."

'Carlos is 6 characters long.'

### 5.11.4 Padding and Aligning Strings
By default, values are formatted to take up only as many characters as needed to represent the content. It is however also possible to define that a value should be padded to a specific length.

Unfortunately the default alignment differs between old and new style formatting. The old style defaults to right aligned while the new style is left aligned.

In [9]:
#To align text right:
'%10s' % ('test',)

'      test'

In [10]:
'{:>10}'.format('test')

'      test'

In [11]:
#To align text left
'%-10s' % ('test',)     # Returns "test      "

'test      '

In [12]:
'{:10}'.format('test')  # Returns "test      "

'test      '

In [13]:
'{:<10}'.format('test') # Returns "test

'test      '

The new style formatting surpasses the old variant by providing more control over how values are padded and aligned. You are able to choose the padding character and override the default space character for padding. This operation is not available with old-style formatting

In [14]:
'{:_<10}'.format('test') # Returns "test______"

'test______'

In [15]:
'{:0<10}'.format('test') # Returns "test000000"

'test000000'

And also center align values. This operation is not available with old-style formatting.
When using center alignment where the length of the string leads to an uneven split of the padding characters the extra character will be placed on the right side. This operation is not available with old-style formatting.

In [16]:
'{:^10}'.format('test') # Returns "   test   "

'   test   '

In [17]:
'{:^6}'.format('zip') # Returns " zip  "

' zip  '

f-strings can also be formatted similarly:

In [20]:
s1 = 'a'
s2 = 'ab'
s3 = 'abc'
s4 = 'abcd'
print(f'{s1:>10}') # Prints          a
print(f'{s2:>10}') # Prints         ab
print(f'{s3:>10}') # Prints        abc
print(f'{s4:>10}') # Prints       abcd

         a
        ab
       abc
      abcd

### 5.11.5 Truncating Long Strings

It is also possible to truncate overly long values to a specific number of characters. The number behind the . in the format specifies the precision of the output. For strings that means that the output is truncated to the specified length. In our example this would be 5 characters.

In [24]:
country="United States of America"

print(country)
print("{}".format(country))
print("%s" %(country))

print("%.3s" %(country))
print("{:.7}".format(country))

#Combining Truncating and Padding
print("%-10.5s" %(country))
print("{:10.5}".format(country))

United States of America
United States of America
United States of America
Uni
United
Unite
Unite

### 5.11.6 Of course it is also possible to format numbers

In [9]:
num1=53
num2=3.141592

print("Number one is {:d} and  number two is {:f}".format(num1,num2))
print("Number one is %d and  number two is %f" %(num1,num2))

print("Number one is {:4d} and  number two is {:3.2f}".format(num1,num2))
print("Number one is %4d and  number two is %3.2f" %(num1,num2))

print("Number one is {:04d} and  number two is {:06.2f}".format(num1,num2))
print("Number one is %04d and  number two is %06.2f" %(num1,num2))

Number one is 53 and  number two is 3.141592
Number one is 53 and  number two is 3.141592
Number one is   53 and  number two is 3.14
Number one is   53 and  number two is 3.14
Number one is 0053 and  number two is 003.14
Number one is 0053 and  number two is 003.14

In [10]:
#Show sign allways
'{:+f}; {:+f}'.format(3.14, -3.14) # Returns "+3.140000; -3.140000"

'+3.140000; -3.140000'

In [11]:
#Show space for positive and sign for negative
'{: f}; {: f}'.format(3.14, -3.14) # Returns " 3.140000; -3.140000"

' 3.140000; -3.140000'

In [12]:
#Show only the minus – same as {:f}; {:f}
'{:-f}; {:-f}'.format(3.14, -3.14) # Returns "3.140000; -3.140000"

'3.140000; -3.140000'

In [ ]:
#Same works with integers

In [14]:
#changing the base
# Returns "int: 42;  hex: 2a;  oct: 52;  bin: 101010'"
"int: {0:d};  hex: {0:x};  oct: {0:o};  bin: {0:b}".format(42)

'int: 42;  hex: 2a;  oct: 52;  bin: 101010'

In [15]:
#including prefix
# Returns "int: 42;  hex: 0x2a;  oct: 0o52;  bin: 0b101010"
"int: {0:d};  hex: {0:#x};  oct: {0:#o};  bin: {0:#b}".format(42)

'int: 42;  hex: 0x2a;  oct: 0o52;  bin: 0b101010'

In [16]:
#using type-specific formtas:
import datetime
d = datetime.datetime(2022, 5, 3, 14, 26, 35)
'{:%Y-%m-%d %H:%M:%S}'.format(d)

'2022-05-03 14:26:35'

In [17]:
#Use comma as thousand separator
'{:,}'.format(1234567890) # Returns "1,234,567,890"

'1,234,567,890'

In [21]:
# Showing percentage
correct = 4
total = 32
'Correct answers: {:.2%}'.format(correct/total)

'Correct answers: 12.50%'

# 6 Input and Output

## 6.1 Output

In [26]:
# We  have already seen that for output we use print function

print("Writing this sentence")
print("this is other sentence")

Writing this sentence
this is other sentence

In [27]:
# By default, the print function also prints out a newline at the end. 
# Override the optional argument end to modify this behavior:
print("Writing this sentence", end='')
print("this is other sentence")

Writing this sentencethis is other sentence

In [28]:
print("Writing this sentence", end='***')
print("this is other sentence")

Writing this sentence***this is other sentence

## 6.2 Input

In [34]:
# Python offers a simple way to get input data from console:
input_string_var = input("Enter some data: ") # Returns the data as a string

Enter some data: hello world

In [35]:
input_string_var

'hello world'

In [33]:
#IMPORTANT! : If we want to read a variable that is nor a string we need to use casting also

nombre = input("Introduce tu nombre ")
efectivo = float(input("Introduce efectivo disponible: "))

print("{0} tiene un efectivo de {1} ".format(nombre, efectivo))

print(nombre, "tiene un efectivo de",efectivo) # no hay espacio después del "de"

mensaje = nombre +  " tiene un efectivo de "+ str(efectivo)
print(mensaje)

Introduce tu nombre Carlos
Introduce efectivo disponible: 12.45
Carlos tiene un efectivo de 12.45
Carlos tiene un efectivo de 12.45
Carlos tiene un efectivo de 12.45

# END of Notebook 2