# 7 Data Structures

## 7.1 Lists
A list is the Python equivalent of an array, but is resizable and can contain elements of different types.    
A list is an ordered set of values, where each value is identified by an index.    
The values that make up a list are called its elements.    
Sounds familiar? Lists are also similar to strings, which are ordered sets of characters, except that the elements of a list can have any type.

In [1]:
number_list= [10,20,30,40,-50,-60,-80]
print(type(number_list))

<class 'list'>

In [2]:
string_list= ["Madrid","Berlin","London","Paris","Rome"]
print(type(string_list))

<class 'list'>

In [3]:
misc_list= ["monday", 35, True, complex(3,4),["Madrid","Berlin"]]
print(type(misc_list))

<class 'list'>

In [4]:
empty=[]
print(type(empty))

<class 'list'>

### 7.1.1 Accessing elements

In [7]:
sequence=["zero","one","two","three"]
print(sequence[0])
print(sequence[1])
print(sequence[2])
print(sequence[3])
print(sequence[-1])
print(sequence[-2])
print(sequence[-3])
print(sequence[-4])
print(sequence[4])

zero
one
two
three
three
two
one
zero

IndexError: list index out of range

### 7.1.2 Membership in lists

In [9]:
sequence=["banana","apple","watermelon","strawberry"]
a="pineapple" in sequence
print("Pineapple in list: ",a)
b="watermelon" in sequence
print("Watermelon in list: ",b)

Pineapple in list:  False
Watermelon in list:  True

### 7.1.3 Apply operators

In [12]:
sequence1=["banana","apple","watermelon","strawberry"]
sequence2=["zero","one","two","three"]
sequence1+sequence2

['banana', 'apple', 'watermelon', 'strawberry', 'zero', 'one', 'two', 'three']

In [13]:
sequence2*2

['zero', 'one', 'two', 'three', 'zero', 'one', 'two', 'three']

 ### 7.1.4 Slice lists

In [14]:
sequence=["zero","one","two","three","four","five"]
print(sequence[:3])
print(sequence[2:5])
print(sequence[4:])
print(sequence[-3:])

['zero', 'one', 'two']
['two', 'three', 'four']
['four', 'five']
['three', 'four', 'five']

### 7.1.5 Lists are mutable

In [15]:
sequence=["banana","apple","watermelon","strawberry"]
sequence[1]="pineapple"
print("Update one element: ",sequence)
sequence[-1]="melon"
print("Update one element: ",sequence)
sequence[2:4]=["blackberry", "blackcurrant"]
print("Update two elements: ",sequence)
sequence[1:1]=["apple","watermelon","melon"]
print("Insert new elements: ",sequence)
del sequence[1]
print("Remove one element: ",sequence)
del sequence[1:3]
print("Remove several elements: ",sequence)

Update one element:  ['banana', 'pineapple', 'watermelon', 'strawberry']
Update one element:  ['banana', 'pineapple', 'watermelon', 'melon']
Update two elements:  ['banana', 'pineapple', 'blackberry', 'blackcurrant']
Insert new elements:  ['banana', 'apple', 'watermelon', 'melon', 'pineapple', 'blackberry', 'blackcurrant']
Remove one element:  ['banana', 'watermelon', 'melon', 'pineapple', 'blackberry', 'blackcurrant']
Remove several elements:  ['banana', 'pineapple', 'blackberry', 'blackcurrant']

### 7.1.6 Aliasing on list or any mutable object

#### Those are diferent objects on different memory locations

In [16]:
list1=[1,2,3]
list2=[1,2,3]
print(list1,"memory position: ",id(list1))
print(list2,"memory position: ",id(list2))

[1, 2, 3] memory position:  2024808528896
[1, 2, 3] memory position:  2024809502656

In [17]:
list1=[1,2,3]
list2=list1
print(list1,"memory position: ",id(list1))
print(list2,"memory position: ",id(list2))

[1, 2, 3] memory position:  2024803979712
[1, 2, 3] memory position:  2024803979712

#### What happens to one object happens to its alias

In [18]:
list1=[1,2,3]
list2=list1
del list2[1]
print("List1 ",list1)
print("List2 ",list2)

List1  [1, 3]
List2  [1, 3]

#### To avoid aliasing, use cloning

In [19]:
list1=[1,2,3]
list2=list1[:]
print("List1: ", list1,"memory position: ",id(list1))
print("List1: ", list2,"memory position: ",id(list2))
del list2[1]
print("List1 ",list1)
print("List2 ",list2)

List1:  [1, 2, 3] memory position:  2024803153152
List1:  [1, 2, 3] memory position:  2024808528832
List1  [1, 2, 3]
List2  [1, 3]

#### That also happens to unmutable objects but as they are unmutable there is no risk

In [20]:
string1="Hola"
string2=string1
print(string1,"memory position: ",id(string1))
print(string2,"memory position: ",id(string2))

Hola memory position:  2024809554608
Hola memory position:  2024809554608

### 7.1.7 Arrays: Nested Lists

In [21]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] 
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
row=matrix[1]
print(row)

[4, 5, 6]

In [23]:
element=row[1]
print(element)
element2=matrix[1][1]
print(element2)

5
5

### 7.1.8 In-Place Operations with lists
In-place operation is an operation that changes directly the content of a given data strcture without making a copy

![Image](ImagesNotebook1/In-placemethodslists.JPG)

<https://docs.python.org/3/tutorial/datastructures.html>

In [34]:
l = [1, 2, 3]


print("Copy")
l_copy = l[:] 
l_copy2 = l.copy()
# Make a one layer deep copy of l into l_copy
                 # Note that "l_copy is l" will result in False after this operation.
                 # This is similar to using the "copy()" method, i.e., l_copy = l.copy()
print(l)
print(l_copy)
print(l_copy2)

print("\n")
print("Removing")
  
l.remove(3)      # Remove first occurrence of a value; l is now [1, 2]
# l.remove(2)    # Raises a ValueError as 2 is not in the list

print(l)
print(l_copy)
print(l_copy2)


print("\n")
print("Inerting")
  
l.insert(2, 3)   # Insert an element at a specific index; l is now [1, 2, 3].
                 # Note that l.insert(n, 3) would return the same output, where n >= len(l),
                 # for example, l.insert(3, 3).
print(l)
print(l_copy)
print(l_copy2)




print("\n")
print("Append")
  

l.append(l_copy) # You can append lists using the "append()" method; returns [1, 2, 3, [1, 2, 3]]

print(l)
print(l_copy)
print(l_copy2)

Copy
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]


Removing
[1, 2]
[1, 2, 3]
[1, 2, 3]


Inerting
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]


Append
[1, 2, 3, [1, 2, 3]]
[1, 2, 3]
[1, 2, 3]

### 7.1.9 Returning methods
![Image](ImagesNotebook1/ReturningMethodsLists.JPG)

In [31]:
my_list=[1,2,3,1,1]

print(my_list.count(1))

print(my_list)
print(my_list.pop())
print(my_list.count(1))

3
[1, 2, 3, 1, 1]
1
2

### 7.1.10 We can use built-in function list to split a string into a list os characters

In [35]:
print("split a string into an array of characters")
# https://stackoverflow.com/questions/4978787/how-to-split-a-string-into-array-of-characters
s = "foobar"
list(s)

split a string into an array of characters

['f', 'o', 'o', 'b', 'a', 'r']

In [39]:
#It also works for creating a list from an iterable (for example a tuple, we will see it in next section):
x = list(('apple', 'banana', 'cherry')) 
print(x)

['apple', 'banana', 'cherry']

### 7.1.11 Remember

In [69]:
line="Agueda|25|Madrid|Student|Single|A"
elements=line.split("|")
print(elements)
name=elements[0]
age=elements[1]
city=elements[2]
job=elements[3]
martial=elements[4]
driving=elements[5]
print("{0} {1} years old lives in {2} as {3} with driving licence {4}".format(name,age,city,job,driving))

['Agueda', '25', 'Madrid', 'Student', 'Single', 'A']
Agueda 25 years old lives in Madrid as Student with driving licence A

### 7.1.12 Two sequences can be zipped together.

In [81]:
numbers = [1, 2, 3, 4, 5]
vowels = ['a', 'e', 'i', 'o', 'u']

zipped = zip(numbers, vowels)
zipped_list = list(zipped)
zipped_list

[(1, 'a'), (2, 'e'), (3, 'i'), (4, 'o'), (5, 'u')]

In [82]:
#And unzipped.

a, b = zip(*zipped_list)

print(a)
print(b)

(1, 2, 3, 4, 5)
('a', 'e', 'i', 'o', 'u')

## 7.2 Tuples
A tuple consists of a number of values separated by commas.
Though tuples may seem similar to lists, they are often used in different situations and for different purposes. Tuples are immutable, and usually contain a heterogeneous sequence of elements that are accessed via unpacking (see later in this section) or indexing (or even by attribute in the case of namedtuples). Lists are mutable, and their elements are usually homogeneous and are accessed by iterating over the list.

In [40]:
tuple1=1,2,3,4
print("This is a tuple: ",tuple1)
print(type(tuple1))
tuple2=("four",5,"six",7)
print("This is also a tuple: ",tuple2)
print(type(tuple2))

This is a tuple:  (1, 2, 3, 4)
<class 'tuple'>
This is also a tuple:  ('four', 5, 'six', 7)
<class 'tuple'>

In [41]:
print("they can be indexed: ",tuple1[3])
print("they can be sliced: ",tuple1[:3])

they can be indexed:  4
they can be sliced:  (1, 2, 3)

In [42]:
print("But they cannot be modified")
tuple1[2]=22

But they cannot be modified

TypeError: 'tuple' object does not support item assignment

### 7.2.1 Unpackaging a tuple

Unpacking a tuple means splitting the tuple’s elements into individual variables. For example:

In [32]:
x, y = (1, 2)
print(x)
print(y)

1
2

In [33]:
my_tuple= ("Hola", 7, 22.5)

value1, value2, value3= my_tuple

print(value2)

7

## 7.3 Dictionaries
Dictionaries are used to store data values in key:value pairs.    
A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.
When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.
Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

### 7.3.1 creation

In [43]:
dictionary={"hola":"bonjour","adios":"aurevoir","hasta pronto":"a bientot"}
print(dictionary)

{'hola': 'bonjour', 'adios': 'aurevoir', 'hasta pronto': 'a bientot'}

In [44]:
print("Hola in french: ",dictionary["hola"])
print("Adios in french: ",dictionary["adios"])
print("Hasta pronto in french: ",dictionary["hasta pronto"])

Hola in french:  bonjour
Adios in french:  aurevoir
Hasta pronto in french:  a bientot

#### creation element by element

In [45]:
dictionary={}
dictionary["patata"]="pomme"
dictionary["cinco"]=5
dictionary["naranja"]="orange"
dictionary["bolsa"]=["bourse","sac"]
print(dictionary)

{'patata': 'pomme', 'cinco': 5, 'naranja': 'orange', 'bolsa': ['bourse', 'sac']}

#### creation with dict()

In [46]:
dictionary=dict(patata="pome",cinco=5,naranja="orange",bolsa=["bourse","sac"])
print(dictionary)

{'patata': 'pome', 'cinco': 5, 'naranja': 'orange', 'bolsa': ['bourse', 'sac']}

#### creation from list of tuples

In [47]:
list_of_tuples=[("patata","pome"),("cinco",5),("naranja","orange"),("bolsa",["bourse","sac"])]
dictionary=dict(list_of_tuples)
print(dictionary)

{'patata': 'pome', 'cinco': 5, 'naranja': 'orange', 'bolsa': ['bourse', 'sac']}

#### creation from two lists

In [48]:
keys=["patata","cinco","naranja","bolsa"]
values=["pomme",5,"orange",["bourse","sac"]]
dictionary=dict(zip(keys,values))
print(dictionary)

{'patata': 'pomme', 'cinco': 5, 'naranja': 'orange', 'bolsa': ['bourse', 'sac']}

### 7.3.2 Easy to update and access

In [41]:
dictionary={"Teo":"admin","Liam":"viewer","Dora":"root","Noa":"viewer","Cris":"Viewer"}
print(dictionary)
dictionary["Noa"]="admin"
print(dictionary)

{'Teo': 'admin', 'Liam': 'viewer', 'Dora': 'root', 'Noa': 'viewer', 'Cris': 'Viewer'}
{'Teo': 'admin', 'Liam': 'viewer', 'Dora': 'root', 'Noa': 'admin', 'Cris': 'Viewer'}

In [42]:
print(dictionary)
print("Length: ",len(dictionary))
del dictionary["Teo"]
print(dictionary)
print("Length: ",len(dictionary))

{'Teo': 'admin', 'Liam': 'viewer', 'Dora': 'root', 'Noa': 'admin', 'Cris': 'Viewer'}
Length:  5
{'Liam': 'viewer', 'Dora': 'root', 'Noa': 'admin', 'Cris': 'Viewer'}
Length:  4

In [43]:
print(dictionary["Noa"])

admin

In [44]:
#returns an error if not found
print(dictionary["Juan"])

KeyError: 'Juan'

In [45]:
#If the key does not exist, a NameError exception is thrown. An alternative is providing a default value:
dictionary.get('Juan', 'name not found')

'name not found'

### 7.3.3 Dictionary methods

In [51]:
dictionary={"yamaha":5,"suzuki":8,"ducati":2,"kawasaki":7}
print("Vehicles manufacturers: ",dictionary.keys())

Vehicles manufacturers:  dict_keys(['yamaha', 'suzuki', 'ducati', 'kawasaki'])

In [52]:
print("Number of vehicles: ",dictionary.values())

Number of vehicles:  dict_values([5, 8, 2, 7])

In [53]:
print("Full parking: ",dictionary.items())

Full parking:  dict_items([('yamaha', 5), ('suzuki', 8), ('ducati', 2), ('kawasaki', 7)])

In [54]:
for i in dictionary.items():
    print("Vehicle: ",i[0]," Amount: ",i[1])

Vehicle:  yamaha  Amount:  5
Vehicle:  suzuki  Amount:  8
Vehicle:  ducati  Amount:  2
Vehicle:  kawasaki  Amount:  7

### 7.3.4 Dictionary aliases

In [55]:
parking={"yamaha":5,"suzuki":8,"ducati":2,"kawasaki":7}
parking2=parking
print(parking.items())
print(parking2.items())
del parking2["suzuki"]
print(parking.items())
print(parking2.items())

dict_items([('yamaha', 5), ('suzuki', 8), ('ducati', 2), ('kawasaki', 7)])
dict_items([('yamaha', 5), ('suzuki', 8), ('ducati', 2), ('kawasaki', 7)])
dict_items([('yamaha', 5), ('ducati', 2), ('kawasaki', 7)])
dict_items([('yamaha', 5), ('ducati', 2), ('kawasaki', 7)])

In [56]:
parking={"yamaha":5,"suzuki":8,"ducati":2,"kawasaki":7}
parking3=parking.copy()
print(parking.items())
print(parking3.items())
del parking3["suzuki"]
print(parking.items())
print(parking3.items())

dict_items([('yamaha', 5), ('suzuki', 8), ('ducati', 2), ('kawasaki', 7)])
dict_items([('yamaha', 5), ('suzuki', 8), ('ducati', 2), ('kawasaki', 7)])
dict_items([('yamaha', 5), ('suzuki', 8), ('ducati', 2), ('kawasaki', 7)])
dict_items([('yamaha', 5), ('ducati', 2), ('kawasaki', 7)])

### 7.3.5 Sparse matrices

Las matrices dispersas son aquellas en las que la mayoría de los registros son cero. Este hecho hace que sea posible más eficaz trabajar con ellas guardando sólo las posiciones de los valores de los elementos distintos de cero

In [57]:
sparse_list=[[5,0,0,0,0,0],[0,0,0,0,0,0],[0,1,0,0,0,0], \
             [0,0,4,0,0,0],[0,0,0,0,0,0],[0,0,0,0,7,0]]
for i in sparse_list:
    print(i)

[5, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0]
[0, 1, 0, 0, 0, 0]
[0, 0, 4, 0, 0, 0]
[0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 7, 0]

In [58]:
sparse_dict={(0,0):5,(2,1):1,(3,2):4,(5,4):7}

In [59]:
from sys import getsizeof
print("Size sparse_list: ",getsizeof(sparse_list))
print("Size sparse_dict: ",getsizeof(sparse_dict))

Size sparse_list:  112
Size sparse_dict:  240

### 7.3.6 Nested Dictionaries

In [47]:
registry={"Name":"Bob",
          "Job":["Developer","Scrum master"],
          "Web":"linkedin.com/bob",
          "Personal":{
              "Nationality":"British",
              "Age":36,
              "Status":"Divorced",
              "Address":{
                  "Street":"Fake Street",
                  "Number":123
              }
          }}

In [48]:
print(registry["Name"])
print(registry["Personal"]["Nationality"])
print(registry["Personal"]["Address"]["Street"])

Bob
British
Fake Street

### 7.3.7 Accesing by index to a dictionary
<https://stackoverflow.com/questions/4326658/how-to-index-into-a-dictionary>

In [2]:
colors = {
    "blue" : "5",
    "red" : "6",
    "yellow" : "8",
}

In [3]:
#It reteives an error
colors[0]

KeyError: 0

Since Python 3.7*, dictionaries are order-preserving, that is they now behave like collections.OrderedDicts. Unfortunately, there is still no dedicated method to index into keys() / values() of the dictionary, so getting the first key / value in the dictionary can be done as

In [4]:
first_key = list(colors)[0]
first_val = list(colors.values())[0]

print(first_key)
print(first_val)

blue
5

In [6]:
third_key = list(colors)[2]

print(third_key)

yellow

#### Alternative 1

In [14]:
item=2
counter=0

for key in colors.keys():
    counter+=1
    if counter==item:
        print(key)
        print(colors[key])

2
['red', '6']

#### Alternative 2

In [8]:
colors = {1: ["blue", "5"], 2: ["red", "6"], 3: ["yellow", "8"]}

In [11]:
colors[1][0]
# returns 'blue'

'blue'

In [12]:

colors[3][1]
# returns '8'

'8'

## 7.5 Set
A set is a collection which is unordered, unchangeable*, and unindexed.    
For more information: <https://www.w3schools.com/python/python_sets.asp>

## 7.6 Summary
Python Collections (Arrays)

There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    Dictionary is a collection which is ordered** and changeable. No duplicate members.

# 8 Built-in functions

Python has several functions that are readily available for use. These functions are called built-in functions. On these references pages, you will find more information:     

<https://www.tutorialsteacher.com/python/builtin-methods>      
<https://www.w3schools.com/python/python_ref_functions.asp>

# 9 Loops, iterations and iterators

## 9.1 Range function:
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

In [49]:
#syntax: range(start, stop, step)
x = range(6)
print(x)

range(0, 6)

In [50]:
y = range(2,10,2)
print(y)

range(2, 10, 2)

In [51]:
#To print elementes of a range we need to transform them into list or use loops
sequence=range(1,20,5)
print(sequence)
print(list(sequence))
print(type(sequence))
list2=list(sequence)
print(type(list2))

range(1, 20, 5)
[1, 6, 11, 16]
<class 'range'>
<class 'list'>

## 9.2 For Loops

Python is big on indentation!    

Where in other programming languages the indentation in code is to improve readability Python uses indentation to indicate a block of code.     
The convention is to use four spaces, not tabs.

### 9.2.1 Across ranges

In [53]:
print("From 0 to 10 with step=2")
for i in range(0,10,2):
    print(i)

From 0 to 10 with step=2
0
2
4
6
8

In [54]:
print("From 0 to 10 with step=2")
for i in range(0,11,2):
    print(i)

From 0 to 10 with step=2
0
2
4
6
8
10

### 9.2.2 Very usefull to create indexes and access the elements of lists by their position

In [3]:
vector=[2,4,6,8,10]
for i in range(len(vector)):
    print("Element {}: {}".format(i,vector[i]))

Element 0: 2
Element 1: 4
Element 2: 6
Element 3: 8
Element 4: 10

### 9.2.3 Across lists

Directly without using indexes

In [55]:
prod=1
for i in [1,2,3,4,5,6]:
    prod = prod*i
    print(prod)

1
2
6
24
120
720

### 9.2.4  Across strings

Directly without using indexes

In [56]:
for letter in "Kinesiotherapy":
    print(letter,end='_')

K_i_n_e_s_i_o_t_h_e_r_a_p_y_

Or with Indexes

In [57]:
word="Kinesiotherapy"
for index in range(len(word)):
    print(word[index],end='_')

K_i_n_e_s_i_o_t_h_e_r_a_p_y_

### 9.2.5 Across list of tuples

accessing directly the elements of the tuple with two variables

In [58]:
list_of_tuples=[("uno",1),("dos",2),("tres",3),("cuatro",4),("cinco",5)]
for k,v in list_of_tuples:
    print(k," is ",v)

uno  is  1
dos  is  2
tres  is  3
cuatro  is  4
cinco  is  5

### 9.2.6 Across dictionaries

accessing directly the key and the value with two variables

In [59]:
dictionary={"Teo":"admin","Liam":"viewer","Dora":"root","Noa":"viewer","Cris":"Viewer"}

for k,v in dictionary.items():
    print(k," has the rol of ",v)

Teo  has the rol of  admin
Liam  has the rol of  viewer
Dora  has the rol of  root
Noa  has the rol of  viewer
Cris  has the rol of  Viewer

In [60]:
for k in dictionary.keys():
    print("Key: ",k)
    
for v in dictionary.values():
    print("Value: ",v)

Key:  Teo
Key:  Liam
Key:  Dora
Key:  Noa
Key:  Cris
Value:  admin
Value:  viewer
Value:  root
Value:  viewer
Value:  Viewer

### 9.2.7 Nested loops

In [10]:
import numpy as np
array = np.array([(1,2,3),(4,5,6),(6,7,8)])
print(array)
print("Numpy arrays can be accessed as A[row,col]")
rows,cols=array.shape

for r in range(rows):
    for c in range(cols):
        print("Array element [{},{}]".format(r,c)," value: ",array[r,c])

[[1 2 3]
 [4 5 6]
 [6 7 8]]
Numpy arrays can be accessed as A[row,col]
Array element [0,0]  value:  1
Array element [0,1]  value:  2
Array element [0,2]  value:  3
Array element [1,0]  value:  4
Array element [1,1]  value:  5
Array element [1,2]  value:  6
Array element [2,0]  value:  6
Array element [2,1]  value:  7
Array element [2,2]  value:  8

### 9.2.8 For loops with BREAK

In [61]:
for n in range(2, 20):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n/x)
            break

4 equals 2 * 2.0
6 equals 2 * 3.0
8 equals 2 * 4.0
9 equals 3 * 3.0
10 equals 2 * 5.0
12 equals 2 * 6.0
14 equals 2 * 7.0
15 equals 3 * 5.0
16 equals 2 * 8.0
18 equals 2 * 9.0

### 9.2.9 Linspace Numpy
Return evenly spaced numbers over a specified interval.

NumPy is the fundamental package for scientific computing in Python. It is a Python library that provides a multidimensional array object, various derived objects (such as masked arrays and matrices), and an assortment of routines for fast operations on arrays, including mathematical, logical, shape manipulation, sorting, selecting, I/O, discrete Fourier transforms, basic linear algebra, basic statistical operations, random simulation and much more. We will see it later.

In [64]:
import numpy as np
print("Range of 5 elements from 0 to 10")
for i in np.linspace(0,10,5):
    print(i)

Range of 5 elements from 0 to 10
0.0
2.5
5.0
7.5
10.0

In [65]:
#linspace can be used as a list 
import numpy as np
sequence=np.linspace(1,20,5)
print(sequence)
print(type(sequence))
list1=list(sequence)
print(type(list1))

[ 1.    5.75 10.5  15.25 20.  ]
<class 'numpy.ndarray'>
<class 'list'>

In [70]:
#checking Numpy version
#import numpy as np # not required. already imported
print("This is the Numpy version:"+np.__version__)
print(np.pi)

This is the Numpy version:1.20.1
3.141592653589793

### 9.2.9 Remember

In [66]:
### Looping using length

sequence=["zero","one","two","three"]
print("Length of sequence ",len(sequence))
for i in range(0,len(sequence)):
    print("Element {}: {}".format(i,sequence[i]))

### Looping without indexing

sequence=["zero","one","two","three"]
for number in sequence:
    print("Element: ",number)

Length of sequence  4
Element 0: zero
Element 1: one
Element 2: two
Element 3: three
Element:  zero
Element:  one
Element:  two
Element:  three

## 9.3 WHILE loops

### 9.3.1 Simple loops

In [71]:
keyword="exit"
command=input("Write exit to abort: ")
while command!=keyword:
    command=input("Write exit to abort: ")
print("EXIT!")

Write exit to abort: hello
Write exit to abort: q
Write exit to abort: aaa
Write exit to abort: exit
EXIT!

In [72]:
stay=True
while stay==True:
    command=input("Write exit to abort: ")
    if command=="exit": stay=False # we will see condictionals in next section
print("EXIT!")

Write exit to abort: exit
EXIT!

### 9.3.2  While on strings

**¡¡¡¡Runnig this cell will need to restart the Kernel!!!**

Because it implements an infinite loop

In [ ]:
#x= "Kinesiotherapy"
#while x:
 #   print(x)

Running this cell is safe.

Note the differences

In [73]:
x= "Kinesiotherapy"
while x:
    print(x)
    x=x[1:]

Kinesiotherapy
inesiotherapy
nesiotherapy
esiotherapy
siotherapy
iotherapy
otherapy
therapy
herapy
erapy
rapy
apy
py
y

### 9.3.3 While with comparision operators

In [74]:
stocks = 1000
stock_price = 10
losts = 0
threshold = 1000

print("I payed ",stocks*stock_price, "€ to buy ", stocks, " stocks")
print("I accept to lose 1000€ maximum")

I payed  10000 € to buy  1000  stocks
I accept to lose 1000€ maximum

In [75]:
while losts < threshold:
    new_price = np.random.normal(10, 1, 1)[0]
    print("New day, stock price: ",new_price)
    losts = 10000 - stocks*new_price
    if losts >=0: 
        print("Losts: ",losts)
    else: 
        print("Gains: ",-losts)

New day, stock price:  12.289903845345854
Gains:  2289.9038453458543
New day, stock price:  9.856899262545587
Losts:  143.10073745441332
New day, stock price:  9.22768799435369
Losts:  772.3120056463104
New day, stock price:  10.77786009694834
Gains:  777.8600969483396
New day, stock price:  9.62304155794582
Losts:  376.9584420541796
New day, stock price:  9.139517433044533
Losts:  860.4825669554666
New day, stock price:  8.928006741324348
Losts:  1071.9932586756531

### 9.3.4 While loops with break, continue

This code will find the largest factor for a number "y". If no factor is found, then it means its a prime number

In [76]:
y=198
x = y-1
while x > 1:
    if y % x == 0:                   
        print(y, 'has factor', x)
        break
    x -= 1
if x==1:
    print(y, 'is prime')

198 has factor 99

This code finds even numbers. 

If the number iterated is odd, then the "continue" statements returns to the head of the block without printing

In [77]:
x = 1
while x:
    x=x+1                     
    if x % 2 != 0: continue
    print(x, end=' ')
    if x == 100: break

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

Many loops can be implemented also with for statement

In [78]:
for x in range(1,100,1):              
    if x % 2 != 0: continue
    print(x, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

## 9.4 List Comprenhensions
List comprehensions are a tool for transforming one list (any iterable actually) into another list. During this transformation, elements can be conditionally included in the new list and each element can be transformed as needed.

### 9.4.1 From Loops to Comprehensions
Every list comprehension can be rewritten as a for loop but not every for loop can be rewritten as a list comprehension.     
The key to understanding when to use list comprehensions is to practice identifying problems that smell like list comprehensions.    

You can rewrite your code to look just like this for loop, you can also rewrite it as a list comprehension.

    new_things = []    
    for item in old_things:     
        if condition_based_on(item):     
            new_things.append("something with " + item)

#previous exmple can be rewuited as:
        
        new_things = ["something with " + item for item in old_things if condition_based_on(item)]


>https://python-3-patterns-idioms-test.readthedocs.io/en/latest/Comprehensions.html>

#### A list comprehension consists of the following parts
• The sequence to loop    
• A variable representing every member of the sequence     
• A transforming expression to be applied at every member of the sequence     
• An optional Boolean expression. The transforming expression will be applied     
only to the elements that satisfy the Boolean expression

![Image](ImagesNotebook1/ListComprenhensions.JPG)

### 9.4.2 Easy examples

In [86]:
[x.upper() for x in "change case"]

['C', 'H', 'A', 'N', 'G', 'E', ' ', 'C', 'A', 'S', 'E']

In [87]:
[x.upper() for x in "n0w w1th numb3rs" if x.islower()]

['N', 'W', 'W', 'T', 'H', 'N', 'U', 'M', 'B', 'R', 'S']

In [88]:
sequence=[0,1,2,3,4,5,6,7,8,9,10]

["Even: "+str(x) for x in sequence if x%2==0]

['Even: 0', 'Even: 2', 'Even: 4', 'Even: 6', 'Even: 8', 'Even: 10']

#### Be aware that a list is always returned, even if it's empty

In [89]:
sequence=[0,1,2,3,4,5,6,7,8,9,10]

[print("Even: "+str(x)) for x in sequence if x%2==0]

Even: 0
Even: 2
Even: 4
Even: 6
Even: 8
Even: 10

[None, None, None, None, None, None]

#### Tuples and dictionaries are also collections to be used with list comprehensions

In [90]:
sequence=('blowfish', 'clownfish', 'catfish', 'octopus')

[x.upper() for x in sequence if "fish" in x]

['BLOWFISH', 'CLOWNFISH', 'CATFISH']

In [91]:
dictionary={"Hola":"spanish","Bonjour":"french","Hello":"english",
            "Adios":"spanish","Au revoir":"french","Bye":"english"}

[k for k,v in dictionary.items() if v=="spanish" ]

['Hola', 'Adios']

###  9.4.3 Medium examples

#### Nested For Loops

In [92]:
my_list = []

for x in [20, 40, 60]:
    for y in [2, 4, 6]:
        my_list.append(x * y)

print(my_list)

[40, 80, 120, 80, 160, 240, 120, 240, 360]

In [93]:
my_list = [x * y for x in [20, 40, 60] for y in [2, 4, 6]]
my_list

[40, 80, 120, 80, 160, 240, 120, 240, 360]

#### Flat map list of list

In [94]:
list_of_list=[[1, 2, 3], [4, 5, 6], [7], [8, 9]]

flat_list = []
for sublist in list_of_list:
    for item in sublist:
        flat_list.append(item)
        
flat_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
flat_list = [item for sublist in list_of_list for item in sublist]
flat_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Nested If

In [96]:
number_list=[]
for x in range(100):
    if x % 3 == 0 :
        if x % 5 == 0 :
            number_list.append(x)
print("List of 3 and 5 multiples")
print(number_list)

List of 3 and 5 multiples
[0, 15, 30, 45, 60, 75, 90]

In [97]:
number_list = [x for x in range(100) if x % 3 == 0 and x % 5 == 0]
print("List of 3 and 5 multiples")
print(number_list)

List of 3 and 5 multiples
[0, 15, 30, 45, 60, 75, 90]

###  9.4.3 Hard examples

#### Create a diagonal matrix

In [98]:
matrix=[[0,0,0],[0,0,0],[0,0,0]]
for row_idx in range(0, 3):
    for item_idx in range(0, 3):
        if item_idx == row_idx :
            matrix[row_idx][item_idx]=1
        else:
            matrix[row_idx][item_idx]=0

matrix

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [99]:
[ [ 1 if item_idx == row_idx else 0 for item_idx in range(0, 3) ] for row_idx in range(0, 3) ]

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

# 10 Conditionals

## 10.1 Simple conditionals

In [100]:
x=10
if x > 0: 
  print("x is positive")
else:
  print("x is negative")

x is positive

In [101]:
x=-10
if x > 0: 
  print("x is positive")
else:
  print("x is negative")

x is negative

## 10.2 Chained conditionals

In [102]:
x=0
if x > 0: 
  print("x is positive")
elif x <0:
  print("x is negative")
else:
  print("x is zero")

x is zero

In [103]:
x=25
if x > 50: 
  print("x is larger than 50")
elif x > 20:
  print("x is larger than 20")
elif x > 10:
  print("x is larger than 10")
else:
  print("x is fewer than 10")

x is larger than 20

## 10.3 Nested conditionals

In [106]:
x=25
if x>0:
    if x>=50:
        print("x is larger or equal than 50")
    else:
        print("x is fewer than 50 but larger than 0")    
elif x<0:
    if x <=-50:
        print("x is fewer or equal than -50")
    else:
        print("x is larger -50 but fewer than 0")        
else:
    print("x=0")

x is fewer than 50 but larger than 0

In [107]:
x=25
if x>=50:    print("x is larger or equal than 50")
elif x>0:    print("x is fewer than 50 but larger than 0")
elif x==0:   print("x=0")
elif x<=-50: print("x is fewer or equal than -50")
else:        print("x is larger -50 but fewer than 0")

x is fewer than 50 but larger than 0

## 10.4 Ternary expressions

In [108]:
x=True
if x:
    A = "positivo"
else:
    A = "negativo"
print("Value of x is: ",A)

Value of x is:  positivo

In [109]:
x=True
A= "positivo" if x else "negativo"
print("Value of x is: ",A)

Value of x is:  positivo

## 10.5 Using Logical Operators

In [110]:
x=5
if 0 < x: 
  if x < 10: 
    print("x is a positive single digit.")

x is a positive single digit.

In [111]:
x=5
if 0 < x and x < 10: 
    print("x is a positive single digit.")

x is a positive single digit.

## 10.6 Syntax
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

### Conditions satisfied

In [112]:
x = True
if x:
    print("condition satisfied")

condition satisfied

In [113]:
x = 5
if x:
    print("condition satisfied")

condition satisfied

In [114]:
x = {}
if x:
    print("condition satisfied")
else:
    print("condition false")

condition false

### Execution blocks

In [115]:
x = 1
print('this is block 0')
if x >0:
    print("this is main branch of block 1")
    y = 1
    if y >0:
        print('this is main branch of block 2')
    else:
        print('this is else branch of block 2')
    print('this is still main branch of block 1')
print('this is block 0, again')

this is block 0
this is main branch of block 1
this is main branch of block 2
this is still main branch of block 1
this is block 0, again

In [116]:
x = 1
print('this is block 0')
if x >0:
    print("this is main branch of block 1")
    y = 1
    if y >0:
        print('this is main branch of block 2')
else:
    print('this is else branch of block 1')
    print('this is still else branch of block 1')
print('this is block 0, again')

this is block 0
this is main branch of block 1
this is main branch of block 2
this is block 0, again

### Long lines

In [117]:
a,b,c,d,e,f,g=1,2,3,4,5,6,7

In [118]:
if a == b and b == c and c == d and d == e and e == f and f == g:
    print("all equals")

In [119]:
if a == b and b == c     \
   and c == d and d == e \
   and e == f and f == g :
    print("all equals")

In [120]:
if (a == b and b == c
   and c == d and d == e 
   and e == f and f == g) :
    print("all equals")

## 10.7 Common uses

### Membership verification

In [121]:
sentence="Mississippi is the second longest river in the United States"
letterCounts={}
for letter in sentence:
    if letter in letterCounts:
        letterCounts[letter]=letterCounts[letter]+1
    else:
        letterCounts[letter]=1
print(letterCounts)

{'M': 1, 'i': 8, 's': 8, 'p': 2, ' ': 9, 't': 6, 'h': 2, 'e': 7, 'c': 1, 'o': 2, 'n': 4, 'd': 2, 'l': 1, 'g': 1, 'r': 2, 'v': 1, 'U': 1, 'S': 1, 'a': 1}

### Multiple choice

In [122]:
print("Please, select an action to do with your file")
print("- Delete")
print("- Rename")
print("- Clone")
print("- Move")
action = input()
if action == "Delete": 
    print("Call delete function")
elif action == "Rename":
    print("Call rename function")
elif action == "Clone":
    print("Call clone function")
elif action == "Move":
    print("Call move function")
else:
    print("Action unkown")

Please, select an action to do with your file
- Delete
- Rename
- Clone
- Move
delete
Action unkown

### Rules checking

In [123]:
vehicles=dict(car1=dict(model="saab93",length=464, width=176, height=145, weight=1570),
              car2=dict(model="fordfocus",length=439, width=182, height=148, weight=1493),
              car3=dict(model="nissanevalia",length=440, width=169, height=186, weight=1431),
              car4=dict(model="bmwq7",length=515, width=200, height=180, weight=2445),
              car5=dict(model="citroends3",length=395, width=171, height=148, weight=1090))

In [124]:
max_length=600
max_width=200
max_height=180
max_weight=2000
for index in vehicles:
    car=vehicles[index]
    if (car["length"]<max_length and 
        car["width"]<max_width and 
        car["height"]<max_height and 
        car["weight"]<max_weight):
        print("Car ",car["model"]," can park")
    else:
        print("Car ",car["model"]," cannot park")

Car  saab93  can park
Car  fordfocus  can park
Car  nissanevalia  cannot park
Car  bmwq7  cannot park
Car  citroends3  can park

### Avoid Exceptions

In [125]:
import numpy as np
elements=[100,100,-100,-100,50,-50]
mean=np.mean(elements)
std=np.std(elements)
print("Average: ",mean)
print("Standard deviation: ",std)

Average:  0.0
Standard deviation:  86.60254037844386

In [126]:
std_realative_to_mean=std/mean

<ipython-input-126-e2594c18a664>:1: RuntimeWarning: divide by zero encountered in double_scalars
  std_realative_to_mean=std/mean

In [127]:
if mean!=0: 
    std_realative_to_mean=std/mean
else:
    std_realative_to_mean=np.inf
    
print("STD relative to average: ",std_realative_to_mean)

STD relative to average:  inf

## 10.8 Logical operators stop evaluating (“short circuit”) as soon as a result is known     
This is taken into account on performance programming

![Image](ImagesNotebook1/conditions.JPG)

## 10.9 If + is /is not with strings
<https://www.w3schools.com/python/python_strings.asp>

In [1]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# END of Notebook 3