# PANDAS in 5 minutes

### Reading files read file country.csv encoding='ISO-8859-1'

#### Accessing by row number ( access to two fist rows)

#### Selecting some columns (select only 3 columns, later only 3 columns of 2 first records)

#### Filtering by condition. Apply a filter to a column

#### Add new column with default value

#### Add new column with calculated value

#### Remove column

### Writing files with PANDAS. save dataframe in a csv file